<% block('bodyscripts','<script src="/js/pages/home.js"><\/script>') -%>

<div class="main">
	<div class="main-inner">
	    <div class="container">
		<div class="row">
	      	<div class="span9">
	      		<div class="widget ">
	      			
	      			<div class="widget-header">
	      				<i class="icon-th-list"></i>
	      				<h3>Cast Reddit To Your TV</h3>
	  			</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<h2>Quick Demo: <a href="http://www.castddit.com/r/earthporn">/r/earthporn</a></h2>
					
					*Safe for work
					
					<br/><br/>
					<h4>How does this work?</h4>
					<p>Replace any reddit.com subreddit URL with "castddit.com". For example, the subreddit: www.reddit.com/r/earthporn
					would become www.castddit.com/r/earthporn. This also works for "top," "hot," and other subreddit sub-categories.</p>
					<br/>
					<h4>What are some good subreddits to cast?</h4>
					<p>Personally, I think the safe-for-work porn subreddits are best. These include:<br/>
					<a href="http://www.castddit.com/r/earthporn">/r/earthporn</a><br/>
					<a href="http://www.castddit.com/r/cityporn">/r/cityporn</a><br/>
					<a href="http://www.castddit.com/r/spaceporn">/r/spaceporn</a><br/>
					<a href="http://www.castddit.com/r/waterporn">/r/waterporn</a><br/>
					<a href="http://www.castddit.com/r/skyporn">/r/skyporn</a><br/>
					<a href="http://www.castddit.com/r/fireporn">/r/fireporn</a><br/>
					<a href="http://www.castddit.com/r/winterporn">/r/winterporn</a><br/>
					<a href="http://www.castddit.com/r/autumnporn">/r/autumnporn</a><br/>
					<a href="http://www.castddit.com/r/foodporn">/r/foodporn</a><br/>
					<br/>
					
					Some other good subreddits include:<br/>
					<a href="http://www.castddit.com/r/pics">/r/pics</a><br/>
					<a href="http://www.castddit.com/r/funny">/r/funny</a><br/>
					<a href="http://www.castddit.com/r/gifs">/r/gifs</a> *Note: Use the controls on the right to increase load times<br/>
					
					</p>
					<br/>
					<h4>The casting is too fast, can I slow it down?</h4>
					<p>Use the +/- buttons on the right-hand side to increase or decrease the speed of the image slideshow.</p>
					<br/>
					<h4>I don't like ads, can I remove them?</h4>
					<p>Yes. Download Ad-Block for your browser. I use ads to pay for the server hosting of this site (which isn't cheap), but I don't want to
					show ads to those who don't want to see them. If you block ads and use the site frequently, please consider making a Bitcoin donation:
					1JJydaa95GDR7aaG5GUdJbW56Jh6phJEvD</p>
					<br/>
					<h4>Does this work on mobile?</h4>
					<p>Not yet. When Google releases casting support for mobile Chrome, then it will. But until then, we're at the mercy of Google.</p>
					<br/>
					<h4>Do GIFs work?</h4>
					<p>You bet they do! Just increase the image duration on the right to ensure the whole GIF plays.</p>
					<br/>
					<h4>Do NSFW subreddits work?</h4>
					<p>Yes...</p>
					<br/>
					<h4>The page doesn't seem to load, what is happening?</h4>
					<p>Make sure that you don't have an extension that is blocking Reddit JSONP calls. If you are using Ghostery or Disconnect,
					these extensions have been causing problems. You can either disable them completely, or selectively allow calls to reddit.com.</p>
					
                                    <!--<form class="form-horizontal">
                                        <fieldset>
                                            <div class="control-group">											
                                                <label class="control-label" for="subreddit">Subreddit</label>
                                                <div class="controls">
                                                        <input type="text" class="span6" id="subreddit" placeholder="/r/all">
                                                        <p class="help-block">Enter full URL or /r/example or just example.</p>
                                                </div>
                                            </div>
                                            <div class="control-group">											
                                                <label class="control-label">Options</label>
                                                
                                                
                                                <div class="controls">
                                                    <label class="checkbox inline">
                                                    <input type="checkbox"> Hide NSFW</label>
                                                    <label class="checkbox inline">
                                                    <input type="checkbox"> Loop</label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-actions">
                                                    <div id="reddit-start-button" class="btn btn-primary">Start Casting</div>
                                            </div>
                                        </fieldset>
                                    </form>-->
                                    <div id="output">
                                        
                                    </div>
				</div>
					
						
			</div> <!-- /widget -->
	      		
		</div> <!-- /span8 -->
	      	
		<div class="span3">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Keep Castddit Running</h3>
                        </div>
                        <div class="widget-content">
				<strong>Bitcoin Donation: </strong><br/>
				1JJydaa95GDR7aaG5GUdJbW56Jh6phJEvD
				<br/>
				<br/>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Castddit - Right Sidebar -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:120px;height:600px"
				     data-ad-client="ca-pub-0526078547696979"
				     data-ad-slot="6900751687"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				<br/>
				Ads help pay for the hosting. Feel free to use AdBlock :)
			</div>
                            
                        </div>
                    </div>
                </div>
	      	
	      	
	      	
	      </div> <!-- /row -->
	
	    </div> <!-- /container -->
	    
	</div> <!-- /main-inner -->
    
</div>